[submodule "aw-core"]
	path = aw-core
	url = https://github.com/ironcatan/aw-core-es.git
[submodule "aw-client"]
	path = aw-client
	url = https://github.com/ironcatan/aw-client-chronly.git
[submodule "aw-server"]
	path = aw-server
	url = https://github.com/ironcatan/aw-server-es.git
[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = https://github.com/ironcatan/aw-watcher-afk-chronly.git
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = https://github.com/ironcatan/aw-watcher-window-chronly.git
[submodule "aw-notify"]
	path = aw-notify
	url = https://github.com/ironcatan/aw-notify-chronly.git
